.contactsWrapper {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.contactItem {
  text-align: center;
}
.contactButton {
  padding: 0px 10px;
  margin-left: 40px;
}
